*{
    margin: 0;
    padding: 0;
    font-family: cinzel, bold; 
    color: inherit;  
    list-style: none;
    text-decoration: none;
}

body{
    font-family: cinzel, bold;
    background-color: #000000;
}

body > header{
    font-family: cinzel;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
 
body > header > nav{
    display : flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
}

body > header > nav > ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.textoparrafo{
    font-size: 1.5vw;
}

body > header > nav > ul > li{
    color: white;
    font-size: 0.6555vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > nav > ul > li > a {
    margin: 3vw;
}

body > header > nav > ul > li > a button.button {
    font-size: 0.8vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 3vw;
    width: 10vw;
    margin: 1vw;
    border: solid 0.1vw black;
    border-radius: 1vw;
    color: white;
    background-color: rgb(62, 139, 255);
}
#ArticleContenido{
    display: flex;
    flex-direction: wrap;
    position: absolute;
    margin-top: 6vw;
    justify-content: auto;
    color: white;
    z-index: 2;
    overflow: visible;
}

#LogoInicio{
    width: 10vw;
    height: 3vw;
}

#fundo{
    position: relative;
    z-index: 0;
    opacity: 0.3;
    width: 100%;
    height: auto;
}

#Vector{
    height: 1vw;
    width: 30vw;
}

#ArticleContenido > div {
    font-size:large;
    align-items: left;
    margin: 2vw;
    padding: 1vw;
    margin-left: 7vw;
    position: relative;
    width: 50vw;
    z-index: 1;
}

#ArticleContenido > div > h1{
    font-size: 3vw;
    color: white;
}

#KratosHeader{
    position: relative;
    width: 60vw;
    height: 36vw;
    z-index: 0;
    top: 1vw;
    left: -26vw;

}

#video{
    position: absolute;
    width: 24vw;
    height: 12vw;
    z-index: 1;
    top: 20vw;
    left: -6vw;
}

#CratosHeader{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

#CompreButton{
    display: flex;
    flex-direction: row;
}

.button, .button1, .button2 {
    position: relative;
    font-size: 1vw;
    cursor: pointer;
    transition: transform 0.1s ease-in-out; /* animación suave */
    /* el resto de tus estilos */
}

.button:active, .button1:active, .button2:active {
    transform: scale(0.95); /* reduce el tamaño del botón a un 95% cuando se hace clic */
}

.button1{
    color: rgb(62, 139, 255);
    background-color: white;
    align-items: center;
    height: 3vw;
    width: 10vw;
    margin: 1vw;
    border: solid 0.1vw black;
    border-radius: 1vw;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

.button2{
    color: white;
    background-color: rgb(62, 139, 255);
    align-items: center;
    height: 3vw;
    width: 10vw;
    margin: 1vw;
    border: solid 0.1vw black;
    border-radius: 1vw;
    text-decoration: none;

}       

h2{
    font-size: 2vw;
    text-align: center;
    color: white;
    padding: 2%;
}

body > main > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    top: -4vw;
}

body > main > nav > ul > li {
    margin: 3vw;
    position: relative; 
    background-color: rgb(61, 61, 62);
    width: 15vw;
    height: 20vw;
    top: 11vw;
      
}

/*

#KratosMain{
    width: 15vw;
    height: 27vw;
    overflow: visible;
    bottom: 5vw;
    margin-top: -7vw;
    margin-bottom: 1vw;
}

#AtreusMain{
    width: 15vw;
    height: 27vw;
    overflow: visible;
    bottom: 5vw;
    margin-top: -7vw;
    margin-bottom: 1vw;
}
#FreyaMain{
    width: 15vw;
    height: 27vw;
    overflow: visible;
    bottom: 5vw;
    margin-top: -7vw;
    margin-bottom: 1vw;
}
#AngrbodaMain{
    width: 15vw;
    height: 27vw;
    overflow: visible;
    bottom: 5vw;
    margin-top: -7vw;
    margin-bottom: 1vw;
}

#Seccion{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    background:url(/assets/principal.png);
    background-repeat: no-repeat;
    background-position: center;

}
.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5vw;
    text-align: right;
    color: white;
    padding: 2%;
    margin: 5vw;
}

#ParrafoSeccion{
    text-align: right;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    padding: 2%;
    margin: 1vw;
}
*/

main{
    color: white;
    background-color: rgb(0, 0, 0);
}

main > section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

main > section > h2{
    font-size: 2vw;
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: cinzel,bold;
    width: 100%;
   
    margin-bottom: 5vw;
}
main > section > ul{
    display: flex;
    flex-direction: row;
    margin: 1vw;
}

main > section > ul > li{
    background-color: rgb(61, 61, 62);
    width: 16vw;
    height: 16.2vw;
    position: relative;
    margin: 2vw;
    
  
}
.KratosMain{
    width: 16vw;
    height: 23.2vw;    
    bottom: 5vw;
    margin-top: -7vw;
    margin-bottom: 2vw;    
}

main > section > ul > li > a {
    position: absolute;
    z-index: 0;
    font-size: 2vw;
    color: white;
    margin-top: 12vw;
    margin-left: 5vw;
  
}
main > section > div.contenedor-imagenes{
   border: 5vw;
   margin: 5vw;
}
#seccion1{
    display: flex;
    padding-top: 5vw;
    
}

/* Padding: El relleno crea espacio adicional dentro de un elemento. 
Por el contrario, margin crea espacio extra alrededor de un elemento.*/

#seccion2{
    display: flex;
    flex-direction: row;
    color: violet;
  
  
}

div.contenedor-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5vw;
    padding: 5vw;
}

